.card {
  overflow: hidden;
  background: var(--bg-card);
  border: 1px solid var(--border-primary);
  border-radius: var(--radius-md);
  display: flex;
  flex-direction: column;
  transition: border-color 0.2s ease;
}
.card:hover {
  border-color: #3f3f4e;
}
.card:hover .card-img {
  transform: scale(1.1);
}
.card-top {
  height: 300px;
  margin-bottom: var(--space-sm);
}
.card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.2s ease;
}
.card-bottom {
  padding: 0 var(--space-md) var(--space-md);
}
.card h3 {
  font-size: 1.35rem;
  margin-bottom: var(--space-xs);
}
.card-desc {
  color: var(--text-muted);
  font-size: 0.95rem;
  margin-bottom: var(--space-xl);
  flex-grow: 1;
}
.card-link:hover {
  opacity: 1;
  color: #fff;
  background: var(--accent-secondary);
}

.card a  {
  width: fit-content;
  color: var(--text-muted);
  transition: color 0.3s ease;
  text-decoration: none;
    font-weight: 500;
    border-bottom: 1px dashed var(--accent-tertiary);
}
.card a:hover {
  color: var(--accent-primary);
      border-bottom-style: solid;

}

.tools-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: var(--space-md);
  margin-top: var(--space-md);
}

.card .tool-card {
  padding: var(--space-md);
  background: var(--bg-main); /* Adjust for dark mode if needed */
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid var(border-secondary);
  border-radius: var(--radius-md);

  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
  
  transition: background 0.3s ease, border-color 0.3s ease, transform 0.3s ease;
}

.tool-card:hover {
  background: var(--bg-card);
  border-color: var(--accent-secondary);
  transform: translateY(-3px);
}

.tool-card h3 {
  margin: 0;
  font-size: 1.05rem;
  font-weight: 600;
  color: var(--text-main);
}

.tool-card .card-desc {
  margin: 0;
  color: var(--text-muted);
  font-size: 0.9rem;
  line-height: 1.5;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  overflow: hidden;
}


article img {
    width: 100%;
  max-width: 600px;
  object-fit: cover;
  aspect-ratio: 4 / 3;
}

.img-container {
  margin-top: var(--space-lg);
    width: 100%;
    height: 500px;
  position: relative;
}
.img-container img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
